@model EvidencijaPacijenata.Models.Izvestaj

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    DateTime datum = DateTime.Now;
}

<h2>Izveštaj</h2>
<hr />
<p class="pb-2">
    @if (Session["IDAdmina"] != null || (Session["IDLekara"] != null && Convert.ToInt32(Session["IDLekara"]) == Model.IDLekara && datum < Model.DatumPregleda))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        <text> |</text>
    }
    @if (Session["IDPacijenta"] != null || Session["IDAdmina"] != null || Session["IDLekara"] != null)
    {
        @Html.ActionLink("Nazad na listu izveštaja", "Index", new { id = Model.IDPacijenta })
    }
</p>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumPregleda)
        </dt>

        <dd>
            @Model.DatumPregleda.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik1.ImePrezime)
        </dd>

        <dt>
            Ustanova na kojoj je obavljen pregled
        </dt>
        <dd>
            @ViewBag.Ustanova
        </dd>

        <dt>
            Odeljenje
        </dt>
        <dd>
            @ViewBag.Odeljenje
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.ImePrezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dijagnoza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dijagnoza)
        </dd>
    </dl>
</div>

