@model IEnumerable<EvidencijaPacijenata.Models.Izvestaj>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Istorija lečenja/izveštaji</h2>
<hr />
@if (Session["IDAdmina"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumPregleda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DatumPregleda.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik1.ImePrezime)
            </td>
            <td>
                @Html.ActionLink("Detalji", "Details", new { id = item.ID })
                @if (Session["IDAdmina"] != null || (Session["IDLekara"] != null && Convert.ToInt32(Session["IDLekara"]) == item.IDLekara))
                {
                    <text> | </text>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })<text> | </text>

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
