<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Pacijents", new { odobreni = "ne" })">Pristigle registracija</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Pacijents")">Dodaj/Ažuriraj/Obriši Pacijenta</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "LekarOpstePrakses")">Dodaj/Ažuriraj/Obriši Lekara opšte prakse</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "LekarSpecijalistas")">Dodaj/Ažuriraj/Obriši Lekara specijalistu</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Ustanovas")">Dodaj/Ažuriraj/Obriši Ustanovu</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Odeljenjes")">Dodaj/Ažuriraj/Obriši Odeljenje</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Vestis")">Dodaj/Ažuriraj/Obriši Vest</a><br />
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Create", "Admin")">Dodaj Admina</a>
    </li>
</ul>