@model EvidencijaPacijenata.Models.Odeljenje

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Odeljenje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlobodnihMesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlobodnihMesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ustanova.Naziv)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Ustanovas", new { id = Model.IDUstanove })">@Html.DisplayFor(model => model.Ustanova.Naziv)</a>
        </dd>
        <dt>
            Lista lekara opšte prakse
        </dt>
        @foreach (var lop in ViewBag.listaLekaraOP as SelectList)
        {
            <dd>
                <a href="@Url.Action("Details", "LekarOpstePrakses", new { id = lop.Value })">@lop.Text</a>
            </dd>
        }
        <dt>
            Lista lekara specijalista
        </dt>
        @foreach (var ls in ViewBag.listaLekaraS as SelectList)
        {
            <dd>
                <a href="@Url.Action("Details", "LekarSpecijalistas", new { id = ls.Value })">@ls.Text</a>
            </dd>
        }
    </dl>
</div>
<p>
    @if (Session["IDAdmina"] != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })<text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
