@model EvidencijaPacijenata.Models.Pacijent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@Model.ImePrezime - Profil</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnickoIme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Model.DatumRodjenja.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JMBG)
        </dd>
        @if (Model.NosilacOsiguranja != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.NosilacOsiguranja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NosilacOsiguranja)
            </dd>
        }
        @if (Model.SrodstvoSaNosiocem != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.SrodstvoSaNosiocem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SrodstvoSaNosiocem)
            </dd>
        }
        @if (Model.IDOdeljenja != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Odeljenje.Naziv) - Odeljenje na kojem ste zadržani
            </dt>

            <dd>
                <a href="@Url.Action("Details", "Odeljenjes", new { id = Model.IDOdeljenja })">@Html.DisplayFor(model => model.Odeljenje.Naziv)</a>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Ustanova.Naziv) kojoj pripadate
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Ustanovas", new { id = Model.IDUstanove })">@Html.DisplayFor(model => model.Ustanova.Naziv)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KrvnaGrupa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KrvnaGrupa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IstekOsiguranja)
        </dt>

        <dd>
            @Model.IstekOsiguranja.ToShortDateString()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni podatke", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    @if (Session["IDAdmina"] != null)
    {
        <text> | </text>
        @Html.ActionLink("Lista pacijenata", "Index")
    }
</p>
