@model IEnumerable<EvidencijaPacijenata.Models.pretragaPacijenata_Result>

@{
    ViewBag.Title = "Pretraga";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Pretraga", "Pacijents", FormMethod.Get))
{
    @Html.TextBox("pretraga")<input type="submit" value="Pretraga" />
}
<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>JMBG</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    Nema rezultata pretrage
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Ime
                    </td>
                    <td>
                        @item.Prezime
                    </td>
                    <td>
                        @item.JMBG
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @if (Session["Specijalizacija"] != null)
                        {
                            <text><a href="@Url.Action("OtpustiSaOdeljenja", "Pacijents", new { id = item.ID })">Otpusti pacijenta sa odeljenju</a> | </text>
                        }
                        <a href="@Url.Action("Details", "Kartons", new { id = item.ID })">Karton pacijenta</a> |
                        <a href="@Url.Action("Index", "Izvestajs", new { id = item.ID })">Istorija lečenja pacijenta</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>