@model EvidencijaPacijenata.Models.Vesti

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@Model.Naslov</h2>
<hr />
<p>
    @if (Session["IDAdmina"] != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })<text> | </text>
    }
    @Html.ActionLink("<-- Nazad na sve vesti", "Index")
</p>
<p>Objavljeno: @Model.DatumObjave.ToShortDateString()</p>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Tekst</p>
    </div>
    <div class="col-md-6">
        @if (Model.Slika != "Default.jpg")
        {
            <img class="img-thumbnail" src="~/Imgs/Vesti/@Model.Naslov/@Model.Slika" alt="@Model.Naslov" />
        }
        else
        {
            <img class="img-thumbnail" src="~/Imgs/Vesti/@Model.Slika" alt="@Model.Naslov" />
        }
    </div>
</div>
