@model IEnumerable<EvidencijaPacijenata.Models.Vesti>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumObjave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slika)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumObjave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slika)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @if (Session["IDAdmina"] != null)
            {
                <text> | </text>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                <text> | </text>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
