@model IEnumerable<EvidencijaPacijenata.Models.Vesti>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/VestiCSS.css" rel="stylesheet" />
<h1>Vesti</h1>
<hr />
@if (Session["IDAdmina"] != null)
{
    <p>
        @Html.ActionLink("Dodaj novu vest", "Create")
    </p>
}
<section class="details-card">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string text = item.Tekst.Substring(0, 50);
                <div class="col-md-4 mb-2">
                    <div class="card-content">
                        <a href="@Url.Action("Details", "Vestis", new { id = item.ID})">
                            <div class="card-img">
                                @if (item.Slika == "Default.jpg")
                                {
                                    <img src="~/Imgs/Vesti/@item.Slika" style="height: 200px;" class="img-thumbnail" alt="@item.Naslov">
                                }
                                else
                                {
                                    <img src="~/Imgs/Vesti/@item.ID.ToString()/@item.Slika" style="height: 200px;" class="img-thumbnail" alt="@item.Naslov">
                                }
                            </div>
                        </a>
                        <div class="card-desc" style="height: 200px;">
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})"><h3>@item.Naslov</h3></a>
                            <p>
                                @text
                            </p>
                            <a  href="@Url.Action("Details", "Vestis", new { id = item.ID})" class="btn-card bg-primary">Procitaj vest</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
