@model EvidencijaPacijenata.Models.Uput

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Uput</h2>
<hr />
<p class="pb-2">
    @if (Session["IDAdmina"] != null || (Session["IDLekara"] != null && Convert.ToInt32(Session["IDLekara"]) == Model.IDLekaraOd))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        <text> |</text>
    }
    @if (Session["IDPacijenta"] != null || Session["IDAdmina"] != null || Session["IDLekara"] != null)
    {
        @Html.ActionLink("Nazad na listu uputi", "Index", new { id = Model.IDLekaraKome })
    }
</p>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumPregleda)
        </dt>
        <dd>
            @Model.DatumPregleda.ToShortDateString()
        </dd>

        <dt>
            Lekar opšte prakse
        </dt>
        <dd>
            <a href="@Url.Action("Details", "LekarOpsteprakses", new { id = Model.IDLekaraOd })">@Html.DisplayFor(model => model.Korisnik1.ImePrezime)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odeljenje.Ustanova.Naziv)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Ustanovas", new { id = Model.Odeljenje.Ustanova.ID })">@Html.DisplayFor(model => model.Odeljenje.Ustanova.Naziv)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odeljenje)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Odeljenjes", new { id = Model.IDOdeljenja })">@Html.DisplayFor(model => model.Odeljenje.Naziv)</a>
        </dd>

        <dt>
            Lekar specijalista
        </dt>
        <dd>
            <a href="@Url.Action("Details", "LekarSpecijalistas", new { id = Model.IDLekaraKome })">@Html.DisplayFor(model => model.Korisnik.ImePrezime)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik2)
        </dt>
        <dd>
            <a href="@Url.Action("Details", "Pacijents", new { id = Model.IDPacijenta })">@Html.DisplayFor(model => model.Korisnik2.ImePrezime)</a>
        </dd>

    </dl>
</div>

