@model EvidencijaPacijenata.Models.LekarSpecijalista

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@Model.Odeljenje.Ustanova.Naziv - @Model.Odeljenje.Naziv</h2>
<hr />
<p class="mb-4">
    @if ((Session["Specijalizacija"] != null && Convert.ToInt32(Session["IDLekara"]) == Model.ID) || Session["IDAdmina"] != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })<text> | </text>
    }
    <a href="@Url.Action("Details", "Odeljenjes", new { id = Model.Odeljenje.ID })">Nazad na odeljenje</a>
</p>
<h4>@Model.ImePrezime</h4>
@if (Model.Slika == "Default.jpg")
{
    <img class="img-thumbnail float-right" src="~/Imgs/Lekari/Default.jpg" alt="@Model.ImePrezime">
}
else
{
    <img class="img-thumbnail float-right" src="~/Imgs/Lekari/@Model.KorisnickoIme/@Model.Slika" alt="@Model.ImePrezime">
}
<p><b>Licenca lekara:</b> @Model.Licenca</p>
<p><b>Specijalizacija lekara:</b> @Model.Specijalizacija</p>