@model EvidencijaPacijenata.Models.Karton

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2><a href="@Url.Action("Details", "Pacijents", new { id = Model.Korisnik1.ID})">@Model.Korisnik1.ImePrezime</a> - Karton</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumVremeNalaza)
        </dt>

        <dd>
            @Model.DatumVremeNalaza.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        @if (Model.Korisnik.GetType() == typeof(EvidencijaPacijenata.Models.LekarSpecijalista))
        {
            <dd>
                <a href="@Url.Action("Details", "LekarSpecijalistas", new { id = Model.Korisnik.ID })">@Html.DisplayFor(model => model.Korisnik.ImePrezime)</a>
            </dd>
        }
        else
        {
            <dd>
                <a href="@Url.Action("Details", "LekarOpstePrakses", new { id = Model.Korisnik.ID })">@Html.DisplayFor(model => model.Korisnik.ImePrezime)</a>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Disanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelesnaTemperatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelesnaTemperatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KrvniPritisak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KrvniPritisak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mokraca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mokraca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stolica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stolica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KrvaSlika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KrvaSlika)
        </dd>
        @if (Model.SpecificniPregled != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.SpecificniPregled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecificniPregled)
            </dd>
        }
    </dl>
</div>
@if (Session["IDLekara"] != null || Session["IDAdmina"] != null)
{
    <p>
        @Html.ActionLink("Izmeni", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        @if (Session["IDAdmina"] != null)
        {
            <text> | </text>@Html.ActionLink("Back to List", "Index")
        }
    </p>
}
