@model EvidencijaPacijenata.Models.ZakazivanjePregleda

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Obavestenja
    {
    @if (@ViewBag.Obavestenje != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>@ViewBag.Obavestenje</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<h2>Detalji o zakazanom pregledu</h2>
<hr />
<p>
    <b>
        Pacijent:
    </b>
    <a href="@Url.Action("Details", "Pacijents", new { id = Model.IDPacijenta})">@Model.Korisnik1.ImePrezime</a>
</p>
<p>
    <b>
        Lekar:
    </b>
    <a href="@Url.Action("Details", "LekarOpstePrakses", new { id = Model.IDLekara})">@Model.Korisnik.ImePrezime</a>
</p>
<p>
    <b>
        Datum i vreme pregleda:
    </b>
    @Model.DatumPregleda.ToShortDateString() u @Model.VremePregleda
</p>
<p>
    <b>
        Datum zakazivanja pregleda:
    </b>
    @Model.DatumZakazivanja.ToShortDateString()
</p>
@if (Session["IDPacijenta"] != null)
{
    <p>
        <b>
            Ustanova:
        </b>
        @ViewBag.Ustanova
    </p>
    <p>
        <b>
            Odeljenje:
        </b>
        @ViewBag.Odeljenje
    </p>
}
<p>
    @if (Session["IDPacijenta"] != null)
    {
        if (Convert.ToInt32(Session["IDPacijenta"]) == Model.IDPacijenta)
        {
            @Html.ActionLink("Izmeni", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        }
    }
    @if (Session["IDAdmina"] != null)
    {
        <text> | </text>
        @Html.ActionLink("Nazad na listu zakazanih pregleda", "Index")
    }
</p>
