@model EvidencijaPacijenata.Models.ZakazivanjePregleda

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Obavestenja
    {
    @ViewBag.PostojiZakazanPregled
}
<h2>Details</h2>

<div>
    <h4>ZakazivanjePregleda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumPregleda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPregleda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumZakazivanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumZakazivanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VremePregleda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VremePregleda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.Ime) @Html.DisplayFor(model => model.Korisnik.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik1.Ime) @Html.DisplayFor(model => model.Korisnik1.Prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @if (Session["IDAdmina"] != null)
    {
        <text> | </text>
        @Html.ActionLink("Back to List", "Index")
    }
</p>
