@model IEnumerable<EvidencijaPacijenata.Models.ZakazivanjePregleda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>
@if (Session["IDAdmina"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumPregleda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumZakazivanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VremePregleda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DatumPregleda.ToShortDateString()
            </td>
            <td>
                @item.DatumZakazivanja.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VremePregleda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Ime) @Html.DisplayFor(modelItem => item.Korisnik.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik1.Ime) @Html.DisplayFor(modelItem => item.Korisnik1.Prezime)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (Session["IDAdmina"] != null)
                {
                    <text> | </text>@Html.ActionLink("Edit", "Edit", new { id = item.ID })<text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
                @if (Session["IDLekara"] != null)
                {
                    <text> | <a href="@Url.Action("Create", "Izvestajs", new { id = item.IDPacijenta })">Napiši izveštaj</a> | </text>
                    <text>
                        <a href="@Url.Action("Create", "Uputs", new { id = item.IDPacijenta })">Napiši uput</a> |
                    </text>
                    <text><a href="@Url.Action("Details", "Kartons", new { id = item.IDPacijenta })">Karton Pacijenta</a></text>
                }
            </td>
        </tr>
    }

</table>
