@model IEnumerable<EvidencijaPacijenata.Models.Vesti>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Obavestenja
    {
    @if (@ViewBag.Obavestenje != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>@ViewBag.Obavestenje</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<link href="~/Content/VestiCSS.css" rel="stylesheet" />

<div class="row text-center mt-2">
    <div class="col-md-12 jumbotron h1 text-light rounded" style="background-color: #27247c; text-shadow: 2px 2px #baa1a1; font-family: Montserrat;">IT MEDICAL</div>
</div>
<hr class="star-light" />
<div class="row text-center pt-2 pb-2">
    <div class="col-md-12">
        <img src="~/Imgs/Wallpaper2.jpg" alt="PocetnaSlika" class="img-thumbnail" />
    </div>
</div>
<h4>Poslednje vesti</h4>
<hr />
<section class="details-card">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string text = item.Tekst.Substring(0, 50);
                <div class="col-md-4">
                    <div class="card-content">
                        <a href="@Url.Action("Details", "Vestis", new { id = item.ID})">
                            <div class="card-img">
                                @if (item.Slika == "Default.jpg")
                                {
                                    <img src="~/Imgs/Vesti/@item.Slika" class="img-thumbnail" alt="@item.Naslov">
                                }
                                else
                                {
                                    <img src="~/Imgs/Vesti/@item.ID.ToString()/@item.Slika" class="img-thumbnail" alt="@item.Naslov">
                                }
                            </div>
                        </a>
                        <div class="card-desc">
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})"><h3>@item.Naslov</h3></a>
                            <p>
                                @text
                            </p>
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})" class="btn-card bg-primary">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row mt-5 justify-content-end">
        <div class="col-md-3 h5"><a href="@Url.Action("Index", "Vestis")">Pogledaj sve vesti --></a></div>
    </div>
</section>




