@model IEnumerable<EvidencijaPacijenata.Models.Vesti>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Obavestenja
    {
    @ViewBag.info@ViewBag.resetPass@ViewBag.NemaKarton
}
<link href="~/Content/VestiCSS.css" rel="stylesheet" />
<h3>Poslednje vesti</h3>
<hr />
<section class="details-card">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string text = item.Tekst.Substring(0, 130);
                <div class="col-md-4">
                    <div class="card-content">
                        <a href="@Url.Action("Details", "Vestis", new { id = item.ID})">
                            <div class="card-img">
                                <img src="~/Imgs/Vesti/@item.Slika" class="img-thumbnail" alt="@item.Naslov">
                            </div>
                        </a>
                        <div class="card-desc">
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})"><h3>@item.Naslov</h3></a>
                            <p>
                                @text
                            </p>
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})" class="btn-card bg-primary">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



