@model IEnumerable<EvidencijaPacijenata.Models.Vesti>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Obavestenja
    {
    @if (@ViewBag.info != null || @ViewBag.resetPass != null || @ViewBag.NemaKarton != null ||
        @ViewBag.OdeljenjePuno != null || @ViewBag.NemaPregleda != null || @ViewBag.PostojiZakazanPregled != null ||
            @ViewBag.registracija != null)
{
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p id="a1">@ViewBag.info</p><p id="a2">@ViewBag.resetPass</p><p id="a3">@ViewBag.NemaKarton</p>
    <p id="a4">@ViewBag.OdeljenjePuno</p><p id="a5">@ViewBag.NemaPregleda</p><p id="a6">@ViewBag.PostojiZakazanPregled</p>
    <p id="a7">@ViewBag.registracija</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
}
<link href="~/Content/VestiCSS.css" rel="stylesheet" />
<h2>Poslednje vesti</h2>
<hr />
<section class="details-card">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string text = item.Tekst.Substring(0, 50);
                <div class="col-md-4">
                    <div class="card-content">
                        <a href="@Url.Action("Details", "Vestis", new { id = item.ID})">
                            <div class="card-img">
                                @if (item.Slika == "Default.jpg")
                                {
                                    <img src="~/Imgs/Vesti/@item.Slika" class="img-thumbnail" alt="@item.Naslov">
                                }
                                else
                                {
                                    <img src="~/Imgs/Vesti/@item.Naslov/@item.Slika" class="img-thumbnail" alt="@item.Naslov">
                                }
                            </div>
                        </a>
                        <div class="card-desc">
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})"><h3>@item.Naslov</h3></a>
                            <p>
                                @text
                            </p>
                            <a href="@Url.Action("Details", "Vestis", new { id = item.ID})" class="btn-card bg-primary">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



