@*@model EvidencijaPacijenata.Models.Pacijent*@
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Scripts/jsFile.js"></script>
<h2>ResetPassword</h2>

@*@using (Html.BeginForm("ResetPass", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Pacijent</h4>
            <hr />
            @ViewBag.info
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.KorisnickoIme, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KorisnickoIme, new { htmlAttributes = new { @class = "form-control", @id = "korisnickoIme" } })
                    @Html.ValidationMessageFor(model => model.KorisnickoIme, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lozinka, "Nova lozinka", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lozinka, new { htmlAttributes = new { @class = "form-control", @id = "lozinka", @name = "lozinka" } })
                    @Html.ValidationMessageFor(model => model.Lozinka, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="lozinka2" class="control-label col-md-2">Ponovi lozinku</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="lozinka2" />
                    @Html.ValidationMessageFor(model => model.Lozinka, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Potvrdi" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }*@

<form action="ResetPass" name="formaResetPass" method="post">
    <div class="form-horizontal">
        <h4>Izmena lozinke pacijenta</h4>
        <hr />
        <div class="form-group">
            <label for="bzk" class="control-label col-md-2">Broj zdravstvene knjižice</label>
            <div class="col-md-10">
                <input type="text" name="KorisnickoIme" id="bzk" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-md-2">E-mail adresa</label>
            <div class="col-md-10">
                <input type="email" name="Email" id="email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="lozinka1" class="control-label col-md-2">Nova lozinka</label>
            <div class="col-md-10">
                <input type="password" name="Lozinka" id="lozinka1" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="lozinka2" class="control-label col-md-2">Ponovi lozinku</label>
            <div class="col-md-10">
                <input type="password" name="lozinka2" id="lozinka2" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Potvrdi" class="btn btn-primary" onclick="return resetPassword();" />
            </div>
        </div>
    </div>
</form>
